@model IEnumerable<OnlineShopping.Models.Product>

@{
    ViewBag.Title = "GetProductForUser";
    Layout = "~/Views/User/UserLayoutPage.cshtml";
}

<html>
<head>
    <link href="~/Content/CSS/view Product.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function addToCart(productID)
        {
    console.log("Adding product with ID: " + productID);

    $.ajax({
        type: 'POST',
        url: '@Url.Action("AddToCart", "Product")',

        data: { productID: productID },
        success: function (response) {
            console.log("AJAX success response:", response);
            if (response.success) {
                $('#cart-item-count').text(response.cartItemCount);
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            console.log("AJAX error:", errorThrown);
        }
    });
}
    </script>

</head>
<body>


    @foreach (var item in Model)

    {
        <div class="grid-container">

            <div class="item1">

                @if (item.image != null && item.image.Length > 0)
                {
                    <img style="float:revert;width:300px;height:300px;padding-left:10px;" src="data:image/jpeg;base64,@Convert.ToBase64String(item.image)" alt="Profile Image" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </div>
            <div class="grid-item">
                @Html.DisplayFor(model => item.productName)

            </div>


            <div class="grid-item">

                @Html.DisplayFor(model => item.Price)

            </div>
            
           
            
            
            
            
            
            
            
            
            
            
         <button style="float:right" class="addtocart" onclick="addToCart('@item.productID')">Add To Cart</button>

        </div>



    }

</body>
</html>