
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Home/MainHomePageLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDetail</title>
</head>
<body>
    <h2>Aboutus</h2>

    <h1>Our Mission</h1>
    <div>
        <p>
            At Snapdeal, our mission is simple: to provide our customers with access to an extensive selection of products from various categories, all in one place. We are committed to offering top-notch customer service, fast and reliable shipping, and secure payment options to ensure your satisfaction with every purchase.

            What Sets Us Apart
    </div>






</body>
</html>



