body {
    font-family: Arial;
    color: black;
}
header {
    font-family: Arial;
    color: black;
    margin: 0;
}
header {
    font-family: Arial;
    color: black;
    margin: 0;
}
.topnav {
    overflow: hidden;
}

span {
    color: red;
}

ul {
    list-style-type: none;
    margin-top: -10px;
    padding: 10px;
    overflow: hidden;
    background-color: #e40046;
}

li {
    float: right;
}

div {
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: red;
    }

body {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}
/* Fixed sidenav, full height */

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #e40046;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;

        }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 100%;
    width: 100%;
    color: blue;
    text-align: right;
}
