


div {
    padding: 10px;
}

h3 {
    font-size: 30px;
    color: #0b4106;
}


body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(246, 245, 248);
}

.container {
    /*max-width: 500px;
        margin-left: 400px;
        width: 90%;*/
    background: white;
    padding: 20px;
    border-radius: 5px;
}

form .input-box {
    width: 100%;
    margin-top: 20px;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button {
    background-color: deeppink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
    color: rgb(9, 70, 9);
}
.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 300px;
    flex-wrap: wrap;
}

.form .radio {
    column-gap: 30px;
}

.radio input {
    accent-color: rgb(15, 126, 4);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.radio label {
    color: #707070;
}
.select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 15px;
}

.secondnav {
    background-color: white;
    overflow: hidden;
     margin-top:10px;
        float: right;
        color:black;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }